<?xml version="1.0" encoding="UTF-8"?>
<!--
    Laravel di IIS / Laragon (Apache biasanya memakai .htaccess).
    Document root harus folder public/.
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
        </handlers>
    </system.webServer>
</configuration>
